<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
	<div class="card">
	  <div class="item item-divider">
		Información del Reporte
	  </div>
	  <div class="item item-text-wrap">
		<div class="list">
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Empresa</span>
			<input type="text" value="" ng-model="report.business">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Base</span>
			<input type="text" value="" ng-model="report.base">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Informe N°</span>
			<input type="text" value="" ng-model="report.correlative">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Fecha del Evento</span>
			<input type="text" value="01/06/2018" ng-model="report.event_date">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Reportante</span>
			<input type="text" value="" ng-model="report.reportant">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Hora del Evento</span>
			<input type="text" value="" ng-model="report.event_time">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Lugar de Ocurrencia</span>
			<input type="text" value="" ng-model="report.ocurrency">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Kilómetro</span>
			<input type="text" value="" ng-model="report.kilometer">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Actividad</span>
			<input type="text" value="" ng-model="report.activity">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Tipo de Unidad</span>
			<input type="text" value="" ng-model="report.unit">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Operador de Contrato</span>
			<input type="text" value="" ng-model="report.operator">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Tipo de Observación</span>
			<input type="text" value="" ng-model="report.observation">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Tipo de Criticidad</span>
			<input type="text" value="" ng-model="report.criticity">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Gerencia</span>
			<input type="text" value="" ng-model="report.management">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Nombre del Conductor</span>
			<input type="text" value="" ng-model="report.driver_name">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Estado</span>
			<input type="text" value="" ng-model="report.status">
		  </label>
		  <label class="item item-input">
			<span class="input-label">Acto y/o Condición Sub Estándar</span>
			<textarea>{{report.act}}</textarea>
		  </label>
		  <label class="item item-input">
			<span class="input-label">Acciones Correctivas (sugeridas)</span>
			<textarea>{{report.action_second}}</textarea>
		  </label>
		  <label class="item item-input">
			<span class="input-label">Recomendación</span>
			<textarea>{{report.reference}}</textarea>
		  </label>
		  <label class="item item-input">
			<span class="input-label">Place de Unidad</span>
			<textarea>{{report.vehicle_plate}}</textarea>
		  </label>
		</div>
	  </div>
	</div>
	<button class="button button-full button-positive">
	  Guardar
	</button>
  </ion-content>
</ion-view>
