<ion-view view-title="Perfil">
	<ion-content>
	<div class="card">
	  <div class="item item-divider">
		Bienvenido a la APP Safety GIS
	  </div>
	  <div class="item item-text-wrap">
		¡Bienvenido {{local.user}}!
	  </div>
	</div>
	<div class="card">
	  <div class="item item-divider">
		Información de Perfil
	  </div>
	  <div class="item item-text-wrap">
		<div class="list">

		  <a class="item item-icon-left" href="#/tab/dash">
			<i class="icon ion-email"></i>
			{{local.email}}
		  </a>

		  <a class="item item-icon-left" href="#/tab/dash">
			<i class="icon ion-person-stalker"></i>
			Empresa <b>{{local.business_name}}</b>
			<span class="badge badge-assertive" ng-show="local.report_count > -1">{{local.report_count}}</span>
		  </a>

		</div>
	  </div>
	</div>
	</ion-content>
</ion-view>
