<ion-view view-title="Perfil">
	<ion-content>
	<div class="card">
	  <div class="item item-divider">
		Bienvenido a la APP Safety GIS
	  </div>
	  <div class="item item-text-wrap">
		¡Bienvenido Frank!
	  </div>
	</div>
	<div class="card">
	  <div class="item item-divider">
		Información de Perfil
	  </div>
	  <div class="item item-text-wrap">
		<div class="list">

		  <a class="item item-icon-left" href="#">
			<i class="icon ion-email"></i>
			frank.altamirano@gmail.com
		  </a>

		  <a class="item item-icon-left" href="#">
			<i class="icon ion-ios-telephone-outline"></i>
			984 234 658
		  </a>
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-person-stalker"></i>
			Empresa ANTAMINA
			<span class="badge badge-assertive">10</span>
		  </a>

		</div>
	  </div>
	</div>
	</ion-content>
</ion-view>
