<ion-view view-title="Reportes">
  <ion-floating-button click="newReport()" has-footer="true" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content>
	<div class="list list-inset">
	  <label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Buscar" ng-model="search">
	  </label>
	</div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="chat in chats | filter:search" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <!--<img ng-src="{{chat.face}}">-->
        <h2><b>{{chat.business_name}}</b> {{chat.correlative}}</h2>
        <p>{{chat.status}} - {{chat.criticity}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Borrar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
